<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
    <th:block th:fragment="head">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CafeSearch</title>
        <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
        <link
            href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" type="text/css" th:href="@{/css/main-header.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}" />
    </th:block>
</head>
<body th:fragment="header">
    <div class="banner-head">
        <div class="head-menu">
            <h3 id="banner-name">CafeSearch</h3>
            <form class="search-form" action="/cafe/searchResult">
                <div id="search-box">
                    <input id="search-input" name="keyword" type="text" placeholder="카페 이름 검색" />
                    <img src="/image/search01.png" />
                </div>
            </form>
            <th:block th:unless="${loginMember} == null">
                <img id="go-myPage" title="마이페이지" src="/image/icon-user.png" onclick="myPage()"/>
            </th:block>
            <th:block th:if="${loginMember} == null">
                <img id="go-login" title="로그인" src="/image/login01.png" onclick="login()"/>
            </th:block>
            <th:block th:if="${loginMember} != null">
                <img id="go-logout" title="로그아웃" src="/image/logout01.png" onclick="logout()"/>
            </th:block>
        </div>
    </div>

    <script src="/js/header.js"></script>
</body>
</html>