.banner {
    height: 500px;
    width: 100%;
    top: 0;
}
.search {
    text-align: center;
    margin: 150px;
}
#search-box {
    margin: 0 auto;
    height: 40px;
    width: 500px;
    background-color: white;
    border-radius: 50px;
    display: flex;
}
#search-input {
    height: 35px;
    width: 420px;
    border: 0px;
    margin-left: 20px;
}