<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
  <th:block th:insert="~{/fragment/header::head}"></th:block>
  <link rel="stylesheet" type="text/css" href="/css/cafeDetail.css" />
  <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=7u4jonm7xu"></script>
</head>
<body>
  <div th:replace="~{/fragment/header::header}"></div>

  <img id="cafe-image" th:src="${detailCafe.image}">

  <div id="cafe-info" th:object="${detailCafe}">
    <p id="cafe-name" th:text="*{cafeName}"></p>
    <p id="cafe-star" th:text="'☆'+*{star}"></p>
    <p id="cafe-address" th:text="*{address}"></p>
  </div>
  <hr>
  <div class="map">
    <p>지도</p>
    <div id="map"></div>
  </div>
  <hr>
  <div class="review-div">
    <div id="reivew-top">
      <p id="title-text" th:text="'리뷰('+${#lists.size(reviews)}+')'"></p>
      <p th:if="${not #strings.isEmpty(loginMember)}" id="review-post" th:onclick="reviewPost([[${detailCafe.cafeId}]], [[${detailCafe.cafeName}]]);">작성하기</p>
    </div>

    <div class="review-list">
      <div class="review" th:each="review: ${reviews}">
        <div id="review-left">
          <img id="profile-img" src="/image/icon-user.png">
          <p id="member-nickname" th:text="${review.memberNickname}"></p>
          <div id="review-change" th:if="${not #strings.isEmpty(loginMember)}">
            <input th:if="${review.memberId==loginMember.memberId}" type="button" value="수정" th:onclick="reviewUpdate([[${review.reviewNo}]]);">
            <input th:if="${review.memberId==loginMember.memberId}" type="button" value="삭제" th:onclick="reviewDelete([[${review.reviewNo}]]);">
          </div>
        </div>
        <div>
          <div id="review-text">
            <p id="review-title" th:text="${review.title}"></p>
            <textarea id="review-content" readonly><th:block th:text="${review.content}"></th:block></textarea>
          </div>
          <div id="review-rest">
            <div class="review-star" th:if="${review.star==5}">★★★★★</div>
            <div class="review-star" th:if="${review.star==4}">★★★★☆</div>
            <div class="review-star" th:if="${review.star==3}">★★★☆☆</div>
            <div class="review-star" th:if="${review.star==2}">★★☆☆☆</div>
            <div class="review-star" th:if="${review.star==1}">★☆☆☆☆</div>
            <div id="review-date" th:text="${review.reviewDate}"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div th:replace="~{/fragment/footer::footer}"></div>
</body>
<script th:inline="javascript">
  /*<![CDATA[*/
  let mapx = [[${detailCafe.mapx}]] / 10000000;
  let mapy = [[${detailCafe.mapy}]] / 10000000;
  /*]]>*/
</script>
<script src="/js/cafeDetail.js"></script>
</html>