<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
  <th:block th:insert="~{/fragment/header::head}"></th:block>
  <link rel="stylesheet" type="text/css" href="/css/reviewWrite.css" />
</head>
<body>
  <div th:replace="~{/fragment/header::header}"></div>

  <div class="board">
    <h2 id="main-title">리뷰 작성</h2>
    <table class="info-table">
      <tr>
        <td class="line-title">제목</td>
        <td class="line-content"><input type="text" id="input-title" placeholder="제목을 입력하세요."></td>
      </tr>
      <tr>
        <td class="line-title">카페명</td>
        <td class="line-content" id="cafe-name" th:text="${cafeName}"></td>
      </tr>
      <tr>
        <td class="line-title">별점</td>
        <td class="line-content">
          <select id="select-star">
            <option value="5" selected>★★★★★5</option>
            <option value="4">★★★★☆4</option>
            <option value="3">★★★☆☆3</option>
            <option value="2">★★☆☆☆2</option>
            <option value="1">★☆☆☆☆1</option>
          </select>
        </td>
      </tr>
    </table>
    <textarea id="input-content" rows="10" cols="130" placeholder="내용을 입력하세요."></textarea>
    <input id="query" style="display: none" th:value="${query}">
    <input id="index" style="display: none" th:value="${index}">
    <div id="buttons">
      <button type="button" id="enroll-end" class="customBtn btnStyle" onclick="enrollEnd();">등록</button>
      <button type="button" id="cancel" class="customBtn btnStyle" onclick="cancel();">취소</button>
    </div>
  </div>

  <div th:replace="~{/fragment/footer::footer}"></div>
</body>
<script src="/js/reviewWrite.js"></script>
</html>